<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MOD_NAME для Симс 4. Скачать мод</title>

   <link rel="stylesheet" href="css/style.min.css">
   <link rel="shortcut icon" href="img/icons/sim.svg" type="image/svg">
</head>

<body>
   <div class="wrapper">
      <div class="content">
         <header class="header">
            <div class="header__container container">
               <div class="menu__wrapper">
                  <div class="menu__container">
                     <div class="menu__body">
                        <div class="menu__burger">
                           <span class='bar bar-1'></span>
                           <span class='bar bar-2'></span>
                           <span class='bar bar-3'></span>
                           <span class='bar bar-4'></span>
                           <span class='bar bar-5'></span>
                        </div>
                        <a href="/" class="menu__logo">
                           <picture>
                              <source srcset="img/header/logo.svg" type="image/webp">
                              <img src="img/header/logo.svg" alt="Логотип">
                           </picture>
                        </a>
                        <nav class="menu__nav">
                           <div class="header__search">
                              <div class="header__form">
                                 <form action="{% url 'search' %}" method="GET" id="search_form">
                                    <input type="text" class="header__input" placeholder="Введите запрос"
                                       name="search_text">
                                    <div class="header__confirm">
                                       <a href="javascript:void(0);"
                                          onclick="document.getElementById('search_form').submit();">
                                          <picture>
                                             <source srcset="img/header/loop.webp" type="image/webp">
                                             <img src="img/header/loop.png" alt="Поиск">
                                          </picture>
                                       </a>
                                    </div>
                                 </form>
                              </div>
                           </div>

                           <div class="header__info">
                              <div class="header__item">
                                 <div class="header__add">
                                    <a href="{% url 'add_mod' %}">
                                       <picture>
                                          <source srcset="img/header/add.webp" type="image/webp">
                                          <img src="img/header/add.png" alt="Добавить" class="header__add-picture">
                                       </picture>
                                    </a>
                                 </div>
                              </div>
                              <div class="header__item">
                                 <div class="header__profile">
                                    <picture>
                                       <img src="img/profile/item2.jpg" alt="Профиль" class="header__profile-picture">
                                    </picture>
                                 </div>
                              </div>
                           </div>
                        </nav>
                     </div>
                  </div>

               </div>
            </div>

            <div class="header__menu">
               <div class="header__wrapper">
                  <div class="header__elem">
                     <div class="header__profile">
                        <picture>
                           <img src="img/profile/item2.jpg" alt="Картинка профиля">
                        </picture>
                     </div>
                     <div class="header__descr">
                        <div class="header__row">
                           <div class="header__nickname">
                              {{ username }}
                           </div>
                        </div>
                        <div class="header__member">
                           {{ group_name }}
                        </div>
                     </div>
                  </div>
               </div>
               <nav class="header__nav">
                  <ul>
                     <li class="header__link header__link-profile">
                        <a href="{% url 'user_profile' username %}">Мой профиль</a>
                     </li>
                     <li class="header__link header__link-exit">
                        <a href="{% url 'logout' %}">Выйти</a>
                     </li>
                  </ul>
               </nav>
            </div>

            <div class="social social-message">
               <div class="social__head">
                  <div class="social__total">
                     <div class="social__value">
                        2
                     </div>
                     <div class="social__text">
                        сообщений
                     </div>
                  </div>
                  <div class="social__clear">
                     <a href="">Очистить всё</a>
                  </div>
               </div>
               <div class="social__wrapper">
                  <div class="social__message">
                     <div class="social__img">
                        <picture>
                           <source srcset="{% static 'img/header/member.webp' %}" type="image/webp">
                           <img src="{% static 'img/header/member.jpg' %}" alt="Пользователь"></picture>
                     </div>
                     <div class="social__text">
                        <div class="social__title">
                           Новое сообщение
                        </div>
                        <div class="social__from">
                           от <span>Сансан</span>
                        </div>
                        <div class="social__letter">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                           eiusmod tempor...
                        </div>
                     </div>
                     <div class="social__trash">
                        <picture>
                           <source srcset="{% static 'img/icons/trash.webp' %}" type="image/webp">
                           <img src="{% static 'img/icons/trash.png' %}" alt="Удалить">
                        </picture>
                     </div>
                  </div>

                  <div class="social__message">
                     <div class="social__img">
                        <picture>
                           <source srcset="{% static 'img/header/member2.webp' %}" type="image/webp">
                           <img src="{% static 'img/header/member2.jpg' %}" alt="Пользователь"></picture>
                     </div>
                     <div class="social__text">
                        <div class="social__title">
                           Новое сообщение
                        </div>
                        <div class="social__from">
                           от <span>Лоли</span>
                        </div>
                        <div class="social__letter">
                           Lorem ipsum ????
                        </div>
                     </div>
                     <div class="social__trash">
                        <picture>
                           <source srcset="{% static 'img/icons/trash.webp' %}" type="image/webp">
                           <img src="{% static 'img/icons/trash.png' %}" alt="Удалить">
                        </picture>
                     </div>
                  </div>
               </div>
            </div>

            <div class="social social-notification">
               <div class="social__head">
                  <div class="social__total">
                     <div class="social__value">
                        2
                     </div>
                     <div class="social__text">
                        уведомления
                     </div>
                  </div>
                  <div class="social__clear">
                     <a href="">Очистить всё</a>
                  </div>
               </div>
               <div class="social__wrapper">
                  <div class="social__message">
                     <div class="social__img">
                        <picture>
                           <source srcset="{% static 'img/header/member.webp' %}" type="image/webp">
                           <img src="{% static 'img/header/member.jpg' %}" alt="Пользователь"></picture>
                     </div>
                     <div class="social__text">
                        <div class="social__title">
                           Новый комментарий
                        </div>
                        <div class="social__from">
                           от <span>Сансан</span>
                        </div>
                        <div class="social__letter">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                           eiusmod tempor...
                        </div>
                     </div>
                     <div class="social__trash">
                        <picture>
                           <source srcset="{% static 'img/icons/trash.webp' %}" type="image/webp">
                           <img src="{% static 'img/icons/trash.png' %}" alt="Удалить">
                        </picture>
                     </div>
                  </div>

                  <div class="social__message">
                     <div class="social__img">
                        <picture>
                           <source srcset="{% static 'img/header/member2.webp' %}" type="image/webp">
                           <img src="{% static 'img/header/member2.jpg' %}" alt="Пользователь"></picture>
                     </div>
                     <div class="social__text">
                        <div class="social__title">
                           Новый комментарий
                        </div>
                        <div class="social__from">
                           от <span>Лоли</span>
                        </div>
                        <div class="social__letter">
                           Lorem ipsum ????
                        </div>
                     </div>
                     <div class="social__trash">
                        <picture>
                           <source srcset="img/icons/trash.webp" type="image/webp">
                           <img src="img/icons/trash.png" alt="Удалить">
                        </picture>
                     </div>
                  </div>
               </div>
            </div>

         </header>

         <div class="header__line" id="header__line">
            <div class="header__img">
               <picture>
                  <source srcset="img/header/characters.webp" type="image/webp">
                  <img src="img/header/characters.png" alt="Персонажи">
               </picture>
            </div>
         </div>
         <div class="main__wrapper">
            <nav class="menu__main" id="menu__main">
               <ul class="menu__category menu__category-main">
                  <li class="menu__item menu__item-main">
                     <a class="menu_item_a" href="/">Главная</a>
                  </li>
                  <li class="menu__item menu__item-hot">
                     <a class="menu_item_a" href="{% url 'popular_mods' %}">Популярное</a>
                  </li>
                  <li class="menu__item menu__item-how">
                     <a class="menu_item_a" href="{% url 'how_to_install' %}">Как установить моды</a>
                  </li>
               </ul>
               <ul class="menu__category">
                  <div class="menu__title">
                     Категории
                  </div>
               </ul>
            </nav>
            <div class="main__container">
               <section class="mod">
                  <div class="mod__fluid">
                     <div class="mod__container">
                        <div class="crumbss">
                           <a href="/cat/{{ parent.url }}" class="crumbss__item">Cat 1</a>
                        </div>

                        <div class="mod__author">
                           <div class="mod__picture">
                              <a href="{% url 'user_profile' mod.owner.username %}">
                                 <picture>
                                    <img src="img/profile/item2.jpg" alt="Автор">
                                 </picture>
                              </a>
                           </div>

                           <div class="mod__wrapper">
                              <div class="mod__row">
                                 <div class="mod__publish">
                                    ОПУБЛИКОВАЛ(А)
                                 </div>
                              </div>
                              <div class="mod__row">
                                 <a href='{% url 'user_profile' mod.owner.username %}' class="mod__author-publish">
                                    NASTYA
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="mod__title">
                           <div class="mod__name">
                              Тестовый мол
                           </div>
                        </div>
                        <div class="mod__info">
                           <div class="mod__date">
                              Позавчера
                           </div>
                           <div class="mod__downloads">
                              Загрузок: 1900
                           </div>
                           <div class="mod__view">
                              Просмотров: 2433
                           </div>
                        </div>
                        <div class="mod__descr">
                           Коротенькое описание мода бла бла бла.....
                        </div>
                        <div class="mod__img">
                           <picture>
                              <img src="img/mods/mod2.jpg" alt="Картинка мода">
                           </picture>
                        </div>
                        <div class="mod__buttons">
                           <a href="{{ mod.mod.url }}" class="mod__button mod__button-save button">СКАЧАТЬ (.rar)</a>
                           <a href="{% url 'how_to_install' %}" class="mod__button button" target="_blank">КАК
                              УСТАНОВИТЬ</a>
                        </div>
                     </div>
                     <div class="recommended mod__reccomended">
                        <div class="recommended__title">
                           Рекомендуемые моды
                        </div>
                        <div class="recommended__items">
                           <a href='#' class="recommended__item">
                              <div class="recommended__img">
                                 <img src='img/recommendedMods/mod-1.jpg' alt="Имя мода">
                              </div>
                              <div class="recommended__info">
                                 <div class="recommended__name">
                                    Гостиная Ilum
                                 </div>
                                 <div class="reccomended__separator">
                                    от
                                 </div>
                                 <div class="recommended__author">
                                    ArtVintex
                                 </div>
                              </div>
                           </a>

                           <a href='#' class="recommended__item">
                              <div class="recommended__img">
                                 <img src='img/recommendedMods/mod-2.jpg' alt="Имя мода">
                              </div>
                              <div class="recommended__info">
                                 <div class="recommended__name">
                                    Гостиная Ilum
                                 </div>
                                 <div class="reccomended__separator">
                                    от
                                 </div>
                                 <div class="recommended__author">
                                    ArtVintex
                                 </div>
                              </div>
                           </a>

                           <a href='#' class="recommended__item">
                              <div class="recommended__img">
                                 <img src='img/recommendedMods/mod-3.jpg' alt="Имя мода">
                              </div>
                              <div class="recommended__info">
                                 <div class="recommended__name">
                                    Гостиная Ilum
                                 </div>
                                 <div class="reccomended__separator">
                                    от
                                 </div>
                                 <div class="recommended__author">
                                    ArtVintex
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>


                  <div class="comments comment">
                     <div class="comments__container">
                        <div class="comments__title comments__title-topic">
                           Комментарии (<span class="comments__value">0</span>):
                        </div>
                        <div class="comments__wrapper">
                           <div class="comments__fluid">
                              <div class="comments__item">
                                 <div class="comments__picture">
                                    <a href="{% url 'user_profile' comment.parent_user.username %}">
                                       <picture>
                                          <img src="img/profile/item2.jpg" alt="Пользователь">
                                       </picture>
                                    </a>
                                 </div>
                                 <div class="comments__row">
                                    <div class="comments__info">
                                       <a href="{% url 'user_profile' comment.parent_user.username %}"
                                          class="comments__name">
                                          USER_1
                                       </a>
                                    </div>
                                    <div class="comments__date">
                                       Вчера
                                    </div>
                                    <div class="comments__message">
                                       Круто!
                                    </div>
                                    <!--<div class="comments__reply">
                                               Ответить
                                            </div>-->
                                 </div>
                              </div>
                              <!--<div class="comments__add">
                                       <textarea class="comments__textarea" name="comment" id="" cols="30" rows="10" placeholder="Напишите комментарий"></textarea>
                                    </div>-->
                           </div>

                           <div class="comments__add" style="margin-top: 30px">
                              <form action="/mod/{{ mod.slug }}" method="POST">
                                 <textarea class="comments__textarea" name="comment_text" id="" cols="30" rows="10"
                                    placeholder="Напишите комментарий"></textarea>

                                 <button type="submit" class="button send_comment__button">Отправить</button>
                              </form>
                           </div>

                        </div>
                     </div>
                  </div>
               </section>

               <div class="main__container-wrapper"></div>
               <div class="menu__small" id="menu__small">
                  <a href="/" class="menu__small-item menu__small-main">
                     <div class="menu__small-text">
                        Главная
                     </div>
                  </a>
                  <a href="{% url 'popular_mods' %}" class="menu__small-item menu__small-popular">
                     <div class="menu__small-text">
                        Популярное
                     </div>
                  </a>
                  <div class="menu__small-item menu__small-category">
                     <div class="menu__small-text">
                        Категории
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="footer__wrapper container">
            <div class="footer__descr">
               © sims-market
               <br>
               2018 - 2021
            </div>
            <div class="footer__social">
               <a href="https://vk.com/sims_market" class="footer__item" target="_blank">
                  <picture>
                     <source srcset="{% static 'img/footer/vk.webp' %}" type="image/webp">
                     <img src="{% static 'img/footer/vk.png' %}" alt="Вконтакте"></picture>
               </a>
            </div>
         </div>
      </footer>
   </div>

   <script src="js/script.min.js"></script>
</body>

</html>